/**------------------------------------------------------------------------------------------------
 **                                         variables
 *------------------------------------------------------------------------------------------------**/
$primary-color: #9c2739;
$secondary-color: #411414;
$tertiary-color: #f0f0f0;
$white: white;
$black: black;
$black-shadow: rgba(0, 0, 0, 0.5);
